@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-size: 1.05em;
    font-family: 'Montserrat';
}

body, html {
    width: 100vw;
    height: 100vh;

}

input {
    margin: 20px;
}

label {
    margin: 10px;
}

#in_submit {
    cursor: pointer;
    margin: 10px;
    width: 200px;
    height: 60px;
    color: rgb(242, 227, 255);
    background-color: rgb(93, 39, 145);
    font-weight: 500;
}